<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>VueJS Tutorials</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <!-- errorHandler -->
    <!-- <button @click="handle">点击</button> -->

    <!-- ignoredElements -->
    <!-- <my-custom-web-component></my-custom-web-component> -->

    <!-- keyCodes -->
    <!-- <input type="text" @keyup.media-play-pause="handle"> -->

    <!-- delete -->
    <!-- <div v-if="msg.val">{{ msg.val }}</div>
    <div v-else>---</div>
    <button @click="del">delete</button> -->
    
    <!-- data -->
    <!-- <div>{{ $data.a }}</div>
    <div>{{ _data.a }}</div>
    <div>{{ a }}</div> -->

    <!-- computed -->
    <!-- <parent-com></parent-com> -->

    <!-- errorCaptured -->
    <!-- <cat name="my cat">
      <kitten></kitten>
    </cat> -->

    <!-- extends -->
    <!-- {{num}}
    <button @click="add">ADD</button> -->

    <!-- provide-inject -->
    <!-- <parent></parent> -->

    <!-- delimiters -->
    <!-- ${msg} -->

    <!-- slots -->
    <!-- <blog-post>
      <template v-slot:header>
        <h1>About Me</h1>
      </template>

      <p>Here's some page content, which will be included in vm.$slots.default, because it's not inside a named slot.</p>

      <template v-slot:footer>
        <p>Copyright 2016 Evan You</p>
      </template>
    
      <p>If I have some content down here, it will also be included in vm.$slots.default.</p>
    </blog-post> -->
    
    <!-- scopedSlots -->
    <!-- <my-component>
      <h1 slot-scope="props">{{props.text}}</h1>
      <h1 slot="another" slot-scope="props">{{props.text}}</h1>
    </my-component> -->

    <!-- v-text -->
    <!-- <span v-text="msg"></span> -->

    <!-- v-for -->
    <!-- <div v-for="(val, key, index) in obj">
      {{ val }} --- {{key}} --- {{index}}
    </div> -->

    <!-- v-on -->
    <!-- <button v-on:click="click('hello', $event)">点击</button>
    <button v-on="{ mousedown: mousedown, mouseup: mouseup }">对象语法</button> -->

    <!-- v-bind -->
    <!-- 通过 prop 修饰符绑定 DOM attribute -->
    <!-- <div v-bind:text-content.prop="text"></div>
    <parent-com :text="text" :a="text" b="text"></parent-com> -->

    <!-- v-model -->
    <!-- 在“change”时而非“input”时更新 -->
    <!-- <input v-model.lazy="msg">{{msg}} -->

    <!-- v-once -->
    <!-- <div v-once>{{msg}}</div>
    <button @click="change">改变msg</button> -->

    <!-- ref -->
    <!-- <p ref="p">hello</p>
    <div v-for="i in 3" :key="i" ref="list">{{i}}</div>
    <button @click="getRef">获取引用</button> -->

    <!-- is -->
    <!-- div会被提到table外面 -->
    <!-- <table>
      <tr>
        <div>111</div>
      </tr>
    </table> -->
    <!-- 变通方式让div渲染在table内 -->
    <table>
      <tr is="row"></tr>
    </table>
    <!-- 使用字符串模板不存在限制 -->
    <my-table></my-table>
  </div>

  <!-- extend -->
  <!-- <div id="mount-point"></div> -->

  <script src="is.js"></script>
</body>



</html>