<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue2.js"></script>
  <!-- <script src="./vue3.js"></script> -->
</head>

<body>
  <div id="app"></div>
  <script>
    /* const {ref} = Vue
    const app = Vue.createApp({
      template: `<div>
          <div v-for='item in list' :key='item'>{{item}}</div>
          <button @click="change">change</button>
        </div>`,
      setup(props) {
        const list = ref(['a', 'b', 'c'])
        const change = () => {
          list.value[1] = 'd'
        }
        return {
          list,
          change
        }
      }
    })

    app.mount('#app') */
  </script>
  <script>
    new Vue({
      el: '#app',
      template: `<div>
          <div v-for='item in list' :key='item'>{{item}}</div>
          <button @click="change">change</button>
        </div>`,
        data() {
          return {
            list: ['a', 'b', 'c']
          }
        },
        methods: {
          change(){
            this.list[1] = 'd'
            this.$forceUpdate()
          }
        },
    })
  </script>
</body>

</html>